body {
    background:rgba(200, 200, 200, 0.1);
    padding: 0% 10% 0% 10%;
    box-sizing:border-box;
}

header {
    border-bottom: 5px brown outset;
    background:linear-gradient(#3c371c, #fff);
    width:100%;
    height:auto;
    margin: 0px;
    text-align:center;
    padding:1px;
    box-sizing:border-box;
}

header h1 {
    width:auto;
    color:#664400;
    border:none;
}

#menu {
    width:100%;
    height:auto;
    text-align:center;
    box-sizing:border-box
}

#menu a{
    text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.5em;
    padding:20px;
}

#menu label {
     text-decoration:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1em;
    padding:20px;
}
#carousel {
    width:100%;
    height:500px;
}
#speakers {
    position:relative;
    width:100%;
    height:100%;
    background:linear-gradient(#3c371c, #fff);
    box-sizing:border-box;
}
main {
    position:relative;
    background:linear-gradient(#eee, #fff);
    display:flex;
    flex-flow:column wrap;
    width:100%;
    height:auto;
    padding:0px;
    box-sizing:border-box;
}

main header {
    background:none;
    border:none;
}


#speakers img {
    width: 100%;
}

#speakers p {
    position:absolute;
    bottom:40%;
    right:5%;
    color:#ffffff;
    text-shadow: 1px 1px 1px #aaa;
    width:70%;
    font-weight:bolder;
    font-size: 2em;
    word-spacing: 15px;
    font-family: 'Shrikhand', cursive, Arial, Helvetica, sans-serif;
}




footer{
   background:linear-gradient(#3c371c, #fff);
    border-top: 5px #650 outset;
    width:100%;
    text-align:center;
    padding:10px 0px 10px 0px;
}

#samplevid {
    width: 100%;
}

section {
   background:#222200;
   padding:5%:
   width:100%;
   height:auto;
   box-sizing:border-box;
   color:white;
   width:100%;
   height:auto;
   border: 1px solid white;
   box-sizing:border-box;
   text-align: center;
  }

section p {
    margin:10px;
}
section nav {
   margin:10px;
}
section button {
border:solid;
}

