@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Transoft offer bussiness Solution, IT Services and Support, The sale of Laptops, Desktops, and acccessories.
    Sales.</p>
