@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1645 West sango road Ikorodu<br />
    Lagos, Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +2348076543587
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:isaacogbos@gmail.com">isaacogbos.com</a><br />

</address>